[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
pytest = "*"
flake8-cognitive-complexity = "*"
flake8 = "*"
radon = "*"
flake8-polyfill = "*"
coverage = "*"

[dev-packages]

[requires]
python_version = "3.9"
